@(item: Article, newsType: NewsType.NewsTypeValue, first: Boolean = false)(implicit messages: Messages, lang: Lang, env: Environment)

<div class="item @if(first) {first-item}">

    @title = {
        <h3><a href="@routes.FrontendController.article(item.shortUrl.getOrElse(item.id.toString)).withLang">@item.translationOrDefault.caption</a></h3>
        <div class="add-info">
            <span class="type"></span>
            <span class="date">@item.publishFormatted</span>
        </div>
    }

    @newsType match {
        case NewsType.PHOTO | NewsType.COVER_PHOTO => {
            <a class="cover" style="background-image: url('@{item.coverMedia.orNull}')" href="@routes.FrontendController.article(item.shortUrl.getOrElse(item.id.toString)).withLang"></a>
            <div class="title">@title</div>
        }
        case NewsType.VIDEO => {
            <a class="cover" style="background-image: url('http://img.youtube.com/vi/@{item.coverYoutube.orNull}/0.jpg')" href="@routes.FrontendController.article(item.shortUrl.getOrElse(item.id.toString)).withLang">
                <i class="fa fa-youtube-play playback" aria-hidden="true"></i>
            </a>
            <div class="title">@title</div>
        }
        case NewsType.TEXT => {
            @title
        }
        case _ => {}
    }

</div>