@import models.CoreModels.Article
@import models.CoreModels.NewsType
@import models.CoreModels.Language

@(item: Article, newsType: NewsType.NewsTypeValue, first: Boolean = false)


<div class="item @if(first) {first-item}">

    @title = {
        <h2><a href="@routes.FrontendController.article(item.url.getOrElse(item.id.toString))">@item.translationOrDefault(Language.DEFAULT).caption</a></h2>
        <div class="add-info">
            <span class="type"></span>
            <span class="date">@item.publishFormatted</span>
        </div>
    }

    @newsType match {
        case NewsType.PHOTO | NewsType.COVER_PHOTO => {
            <a class="cover" style="background-image: url('@{item.coverMedia.orNull}')" href="@routes.FrontendController.article(item.url.getOrElse(item.id.toString))"></a>
            <div class="title">@title</div>
        }
        case NewsType.VIDEO => {
            <a class="cover" style="background-image: url('http://img.youtube.com/vi/@{item.coverMedia.orNull}/0.jpg')" href="@routes.FrontendController.article(item.url.getOrElse(item.id.toString))">
                <i class="fa fa-youtube-play playback" aria-hidden="true"></i>
            </a>
            <div class="title">@title</div>
        }
        case NewsType.TEXT => {
            @title
        }
        case _ => {}
    }

</div>