@()(implicit messages: Messages)

<footer>
    <section class="links">
        <section class="container">
            <div class="logo">
                <a href="@routes.FrontendController.index">
                    <img src="@routes.Assets.versioned("/images/logo200px.png")" alt="barracuda.news" title="barracude.news"/>
                </a>
            </div>
            <div class="about">
                <h4>@messages("title.information"):</h4>
                <ul>
                    <li><a href="@routes.FrontendController.about">@messages("title.about")</a></li>
                    <li><a href="@routes.FrontendController.adv">@messages("title.advertising")</a></li>
                    <li><a href="@routes.FrontendController.contacts">@messages("title.contacts")</a></li>
                </ul>
            </div>
            <div class="social">
                <h4>@messages("title.follow"):</h4>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/barracudacommunication/">
                            <i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i> &nbsp;facebook.com
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/BarracudaNews">
                            <i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i> &nbsp;twitter.com
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/barracuda_communication">
                            <i class="fa fa-instagram fa-1x" aria-hidden="true"></i> &nbsp;instagram.com
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCfXWE_CMpjH2sb896P6xjhg">
                            <i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i> &nbsp;youtube.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="subscribe">
                <h4>@messages("title.newsletter"):</h4>
                <div class="control-container">
                    <input class="inp" type="email" placeholder="@messages("title.enterEmail")" title="@messages("title.enterEmail")">
                </div>
                <div class="control-container">
                    <input class="btn" type="submit" class="btn btn-md" value="@messages("title.subscribe")">
                </div>
            </div>
        </section>
    </section>
    <section class="copyright">
        <section class="container">
            <span>
                    &copy; <script>document.write(new Date().getFullYear())</script> &mdash; Barracuda News. All rights reserved.
            </span>
        </section>
    </section>
</footer>