@import models.CoreModels.Language.LanguageValue

@()(implicit messages: Messages, lang: LanguageValue)

<header>

    <section class="corporate">
        <section class="container">
            <a class="banner" href="http://bedynamiq.com/" target="_blanc">
                <img src="@routes.Assets.versioned("/banners/bd_990x90.gif")" alt="bedynamiq.com" title="bedynamiq.com"/>
            </a>
            <a class="logo" href="@routes.FrontendController.index">
                <img src="@routes.Assets.versioned("/images/logo.png")" alt="barracuda.news" title="barracuda.news"/>
            </a>
        </section>
    </section>
    <section class="menu" ng-class="{'menu-active': menuOn}">
        <section class="container">
            <div class="menu-button" ng-click="toggleMenu()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <ul class="tools">
                <li class="search" ng-click="toggleSearch()"><div></div></li>
                <li class="lang hidden">
                    <div>@lang.label</div>
                    <ul>
                    </ul>
                </li>
            </ul>
            <ul class="categories">
                <li class="logo">
                    <a href="@routes.FrontendController.index">
                        <img class="desktop" src="@routes.Assets.versioned("/images/logo-small.png")" alt="barracuda.news" title="barracuda.news"/>
                        <img class="tablet" src="@routes.Assets.versioned("/images/logo-small2.png")" alt="barracuda.news" title="barracuda.news"/>
                    </a>
                </li>
                <li class="color1"><a href="@routes.FrontendController.index()">@messages("title.news")</a></li>
                <li class="color2"><a href="@routes.FrontendController.topic("stories")">@messages("title.stories")</a></li>
                <li class="color3"><a href="@routes.FrontendController.tracking()">@messages("title.tracking")</a></li>
                <li class="color4"><a href="@routes.FrontendController.topic("media")">@messages("title.media")</a></li>
                <li class="color5"><a href="@routes.FrontendController.topic("fish")">@messages("title.fish")</a></li>
            </ul>
        </section>
    </section>

</header>