@()(implicit messages: Messages)

<header>

    <section class="corporate">
        <section class="container">
            @*<a href="@routes.FrontendController.index">*@
            @*<img src="@routes.Assets.versioned("/images/logo.png")" alt="barracuda.news" title="barracude.news"/>*@
            @*</a>*@
            <a href="http://bedynamiq.com/" target="_blanc">
                <img src="@routes.Assets.versioned("/banners/bd_990x90.gif")" alt="bedynamiq.com" title="bedynamiq.com"/>
            </a>
        </section>
    </section>
    <section class="menu" ng-class="{'menu-active': menuOn}">
        <section class="container">
            <div class="menu-button" ng-click="toggleMenu()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <ul class="tools">
                <li class="search" ng-click="toggleSearch()"><div></div></li>
                <li class="lang">
                    <div>{{selectedLang.label}}</div>
                    <ul>
                        <li ng-repeat="l in langs" ng-click="setLang(l)">{{l.label}}</li>
                    </ul>
                </li>
            </ul>
            <ul class="categories">
                <li class="color1"><a href="@routes.FrontendController.index">@messages("title.news")</a></li>
                <li class="color2"><a href="@routes.FrontendController.topic("stories")">@messages("title.stories")</a></li>
                <li class="color3"><a href="@routes.FrontendController.topic("tracking")">@messages("title.tracking")</a></li>
                <li class="color4"><a href="@routes.FrontendController.topic("media")">@messages("title.media")</a></li>
                <li class="color5"><a href="@routes.FrontendController.topic("fish")">@messages("title.fish")</a></li>
            </ul>
        </section>
    </section>

</header>