@()(implicit messages: Messages, lang: Lang, env: Environment, request: RequestHeader)

<header>

    <div class="corporate">
        <div class="container">
            <a class="banner" href="http://bedynamiq.com/" target="_blank">
                <img src="@routes.Assets.versioned("/banners/bd_990x90.gif")" alt="bedynamiq.com" title="bedynamiq.com"/>
            </a>
            <a class="logo" href="@routes.FrontendController.index.withLang">
                <img src="@routes.Assets.versioned("/images/logo.png")" srcset="@routes.Assets.versioned("/images/logo.2x.png") 2x" alt="barracuda.news" title="barracuda.news"/>
            </a>
        </div>
    </div>
    <div class="menu" data-ng-class="{'menu-active': menuOn}">
        <div class="container">
            <div class="menu-button" data-ng-click="toggleMenu()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <ul class="tools">
                <li class="search" data-ng-click="toggleSearch()"><div></div></li>
                <li class="lang" data-ng-class="{'menu-active': langOn}" data-ng-click="toggleLang()">
                    <div>@Messages("lang." + lang.code)</div>
                    <ul>
                    @for(l <- langs) {
                        <li><a href="@addLang(request)(env, l)">@Messages("lang." + l.code)</a></li>
                    }
                    </ul>
                </li>
            </ul>
            <ul class="categories">
                <li class="logo">
                    <a href="@routes.FrontendController.index.withLang">
                        <img class="desktop" src="@routes.Assets.versioned("/images/logo-small.png")" srcset="@routes.Assets.versioned("/images/logo-small.2x.png") 2x" alt="barracuda.news" title="barracuda.news"/>
                        <img class="tablet" src="@routes.Assets.versioned("/images/logo-small2.png")" srcset="@routes.Assets.versioned("/images/logo-small2.2x.png") 2x" alt="barracuda.news" title="barracuda.news"/>
                    </a>
                </li>
                <li class="color1"><a href="@routes.FrontendController.index().withLang">@messages("title.news")</a></li>
                <li class="color2"><a href="@routes.FrontendController.topic("stories").withLang">@messages("title.stories")</a></li>
                <li class="color3"><a href="@routes.FrontendController.tracking().withLang">@messages("title.tracking.short")</a></li>
                <li class="color4"><a href="@routes.FrontendController.topic("media").withLang">@messages("title.media")</a></li>
                <li class="color5"><a href="@routes.FrontendController.topic("fish").withLang">@messages("title.fish")</a></li>
            </ul>
        </div>
    </div>

</header>