@(news: Seq[Article], offset: Option[Int])(implicit messages: Messages, lang: Lang, env: Environment)

    @caption(article: Article) = @{
        article.translationOrDefault.caption
    }

    @url(article: Article) = @{
        routes.FrontendController.article(article.url.getOrElse(article.id.toString)).withLang
    }

    @for(item <- news) {

        <div class="item">
            <div class="photo">@item.coverMedia.map { t => <a href="@url(item)"><img src="@t" alt="@caption(item)" title="@caption(item)"/></a> }</div>
            <h2><a href="@url(item)">@caption(item)</a></h2>
            <div class="date">@item.publishFormatted</div>
        </div>

    }