@import models.NewsModel._

@(item: PeaceOfNews, newsType: NewsType.NewsTypeValue, first: Boolean = false)

<div class="item @if(first) {first-item}" style="@item.backgroundImage(newsType)">
    <a href="@routes.GuiController.article">@item.caption</a>
    @if(newsType == NewsType.VIDEO) {
        <i class="fa fa-youtube-play playback" aria-hidden="true"></i>
    }
    <div class="add-info">
        <span class="type">&nbsp;</span>
        <span class="date">@item.dateFormatted</span>
    </div>
</div>