@import models.NewsModel.{Article, NewsType}

@(item: Article, newsType: NewsType.NewsTypeValue, first: Boolean = false)

<div class="item @if(first) {first-item}" style="@item.backgroundImage(newsType)">
    <h4><a href="@routes.GuiController.article">@item.caption</a></h4>
    @if(newsType == NewsType.VIDEO) {
        <i class="fa fa-youtube-play playback" aria-hidden="true"></i>
    }
    <div class="add-info">
        <span class="type"></span>
        <span class="date">@item.publishFormatted</span>
    </div>
</div>