@()(implicit messages: Messages)

<div class="search-overlay">
    <span class="close" data-ng-click="toggleSearch()"></span>
    <div class="container">
        <div class="search-input">
            <input type="text" placeholder="@messages("title.search")" data-ng-model="searchString" data-ng-change="search()"/>
        </div>
        <ul class="result">
            <li data-ng-repeat="item in items">
                @*<h2><a href="/article/{{item.shortUrl}}" rel="nofollow">{{item.caption}}</a></h2>*@
            </li>
        </ul>
    </div>
</div>