<div class="search-overlay">
    <span class="close" ng-click="toggleSearch()"></span>
    <section class="container">
        <div class="search-input">
            <input type="text" placeholder="Search" ng-model="searchString" ng-change="search()" auto-focus="{{ searchOn }}"/>
        </div>
        <ul class="result">
            <li ng-repeat="item in items">
                <h2><a href="@routes.FrontendController.article">{{item.caption}}</a></h2>
            </li>
        </ul>
    </section>
</div>