@()(implicit messages: Messages, lang: Lang, env: Environment)

<div class="search-overlay">
    <span class="close" data-ng-click="toggleSearch()"></span>
    <div class="container">
        <div class="search-input">
            <input id="searchStr" autofocus type="text" placeholder="@messages("title.search")" data-ng-model="searchString" data-ng-change="search('@addLang("/search")(env, lang)')"/>
        </div>
        <ul class="result">
            <li data-ng-repeat="item in items" class="item">
                <div class="photo">
                    <img data-ng-src="{{item.coverMedia}}">
                </div>
                <h2><a href="/article/{{item.shortUrl}}" rel="nofollow">{{item.caption}}</a></h2>
                <div class="date">{{item.publish_time_formatted}}</div>
            </li>
        </ul>
    </div>
</div>