@import components._
@import models.CoreModels.Article
@import models.CoreModels.Layout
@import models.CoreModels.NewsType

@(layoutOpt: Option[Layout], news: Seq[Article], rootTag: String)

@{
    layoutOpt match {
        case Some(layout) => layoutGrid(layout, news)
        case _ => listGrid(news)
    }
}

@listGrid(news: Seq[Article]) = {
    <section class="container">
        <div class="content-body">
            <h1>@rootTag</h1>
        </div>
    </section>
}

@layoutGrid(layout: Layout, news: Seq[Article]) = {
    <section class="news-grid">
        <section class="container">
        @for(row <- layout.rows) {
            <div class="topic-row @row.height.cssClass">
            @for(block <- row.blocks) {
                @if(block.tag) {
                    <div class="topic-col @block.size.cssClass @if(block.featured) {featured} type-@block.newsType.cssClass @if(block.caption.isEmpty) {no-caption}">
                        @for(caption <- block.caption) {
                            <h1><a href="@routes.FrontendController.topic(block.tag)">@caption</a></h1>
                        }
                        <div class="items">
                        @{
                            val newsToDisplay = block.newsType match {
                                case NewsType.TEXT => news.filter(t => t.hasTag(block.tag))
                                case _ => news.find(t => t.hasTag(block.tag)).toSeq
                            }
                            newsToDisplay.take(row.height.maxNews) match {
                                case head :: tail =>
                                    val firstArticle = List(article(head, block.newsType, first = true))
                                    val restArticles = tail.map(t => article(t, block.newsType))
                                    firstArticle ++ List(Html("""<div class="rest-items">""")) ++ restArticles ++ List(Html("</div>"))
                                case _ =>
                                    Html(
                                        s"""
                                        <div>
                                            <p>Empty topic</p>
                                            <p>Type: ${block.newsType}</p>
                                            <p>Topic tags: $rootTag ${block.tag}</p>
                                        </div>"""
                                    )
                            }
                        }
                        </div>
                    </div>
                }
            }
            </div>
        }
        </section>
    </section>
}

