@import components._
@import models.NewsModel._

@(layoutOpt: Option[Layout], news: Map[String, Seq[Article]])

@{
    layoutOpt match {
        case Some(layout) => layoutGrid(layout, news)
        case _ => listGrid(news)
    }
}

@listGrid(news: Map[String, Seq[Article]]) = {
    LIST NEWS
}

@layoutGrid(layout: Layout, news: Map[String, Seq[Article]]) = {
@for(row <- layout.rows) {
    <div class="topic-row @row.height.cssClass">
    @for(block <- row.blocks) {
        @if(block.tag) {
            <div class="topic-col @block.size.cssClass @if(block.featured) {featured} type-@block.newsType.cssClass @if(block.caption.isEmpty) {no-caption}">
                @for(caption <- block.caption) {
                    <h2>@caption</h2>
                }
                <div class="items">
                @{
                    val newsToDisplay = block.newsType match {
                        case NewsType.TEXT => news.getOrElse(block.tag, Nil)
                        case _ => news.getOrElse(block.tag, Nil).headOption.toSeq
                    }
                    newsToDisplay.take(row.height.maxNews) match {
                        case head :: tail =>
                            List(article(head, block.newsType, first = true)) ++ tail.map(t => article(t, block.newsType))
                        case _ =>
                            <p>Empty topic</p>
                    }
                }
                </div>
            </div>
        }
    }
    </div>
}
}

