@(sectionClass: String = "", subMenu: Option[Html])(content: Html)

@space.main("Admin area") {

    <main class="admin-area @subMenu.map(t => "submenu-on").orNull">
        <header>
            <h2>Admin space</h2>
        </header>
        <aside class="main-menu">
            <ul>
                <li id="news">
                    <a href="@routes.AdminController.index">News</a>
                </li>
                <li id="layouts">
                    <a href="@routes.AdminController.layout">Layouts</a>
                </li>
            </ul>
        </aside>
        @subMenu.map { menu =>
        <aside class="sub-menu">
            @menu
        </aside>
        }.orNull
        <section class="@sectionClass">
        @content
        </section>
    </main>

}
