@(article: String, tags: String, langs: String, articleNames: String)(implicit user: Account, messages: Messages, lang: Lang, env: Environment, request: RequestHeader)

    @sidebar = {
        <ul class="langs">
            <li data-ng-repeat="l in langs">
                <input type="radio" name="lang" id="{{l.value}}" data-ng-value="l" data-ng-model="$parent.selectedLang" data-ng-change="changeLang()"/><label for="{{l.value}}">{{l.label}}</label>
            </li>
        </ul>
        <ul>
            <li data-ng-hide="articleModel.id">
                <a href="#" data-ng-click="save()">Create</a>
            </li>
            <li data-ng-show="articleModel.id">
                <a href="#" data-ng-click="save()">Save</a>
            </li>
            <li data-ng-show="articleModel.id">
                <a data-remodal-target="delete-modal">Delete</a>
            </li>
            <li data-ng-show="articleModel.id">
                <a href="#" data-ng-click="show()">Show</a>
            </li>
        </ul>

    }

    @layout.admin("article-section", subMenu = Some(sidebar), activeMenu = Some("#news"), controller = Some("ArticleController")){

        <div>
            <ul class="breadcrumbs">
                <li><a href="@routes.AdminController.index">News</a></li>
                <li>{{translation.caption}}</li>
            </ul>
            <fieldset class="info-controls">
                <div class="cover">
                    <span data-ng-hide="articleHasId()">In order to upload cover photo push 'Create' button first</span>
                    <img data-ng-show="articleHasId()" data-ng-src="{{articleModel.coverMedia}}"/>
                    <input id="uploader" data-ng-show="articleHasId()" type="file" nv-file-select uploader="uploader"/>
                </div>
                <dl class="tags">
                    <dt><label for="tags">Tags:</label></dt>
                    <dd>
                        <tags-input id="tags" class="tags-input" data-ng-model="articleModel.tags" placeholder="Add tags" add-on-paste="true">
                            <auto-complete min-length="0" load-on-focus="true" load-on-empty="true" source="loadTags($query)"></auto-complete>
                        </tags-input>
                    </dd>
                </dl>
                <dl class="publish">
                    <dt><label for="publish">Publish date:</label></dt>
                    <dd><input type="text" date-time view="hours" timezone="Europe/Moscow" format="DD.MM.YYYY HH:mm z" name="publish" data-ng-model="articleModel.publish_moment"></dd>
                </dl>
                <dl class="youtube">
                    <dt><label for="youtube">Youtube cover ID (optional):</label></dt>
                    <dd><input type="text" name="youtube" data-ng-model="articleModel.coverYoutube"></dd>
                </dl>
                <dl class="origin">
                    <dt><label for="origin">Original url (optional):</label></dt>
                    <dd><input type="text" name="origin" data-ng-model="articleModel.origin"></dd>
                </dl>
            </fieldset>
            <fieldset>
                <div class="lang-label">Cross links:
                    <a href="#" data-ng-click="addLink()" class="pull-right add-link">Add link</a>
                </div>
                <div class="links">
                    <div class="link" data-ng-repeat="link in articleModel.crossLinks">
                        <div class="sel">
                            <select chosen
                            data-ng-model="link.id"
                            data-placeholder="Choose cross article...">
                                <option data-ng-repeat="option in articleLinks" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
                        <div class="del">
                            <a href="#" data-ng-click="delLink(link)">Delete</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="lang-label">{{selectedLang.label}}:</div>
                <dl class="caption">
                    <dd><input type="text" name="caption" data-ng-model="translation.caption" placeholder="Enter article title to enable {{selectedLang.label | lowercase}} translation"></dd>
                </dl>
                <dl data-ng-show="hasCaption(translation)">
                    <dd><input type="text" name="title" data-ng-model="translation.title" placeholder="SEO: title, might be equal to article title"></dd>
                </dl>
                <dl data-ng-show="hasCaption(translation)">
                    <dd><input type="text" name="keywords" data-ng-model="translation.keywords" placeholder="SEO: article keywords"></dd>
                </dl>
                <dl class="seo-description" data-ng-show="hasCaption(translation)">
                    <dd><textarea type="text" name="description" data-ng-model="translation.description" placeholder="SEO: article short description"></textarea></dd>
                </dl>
                <dl data-ng-show="hasCaption(translation)">
                    <dd>
                        <article class="edit">
                            <div class="container">
                                <div class="article-edit">
                                    <alloy-editor id="article_editor" data-ng-model="translation.text" config="alloyConfig"></alloy-editor>
                                </div>
                            </div>
                        </article>
                    </dd>
                </dl>
            </fieldset>

        </div>

        <div class="remodal" data-remodal-id="delete-modal">
            <h3>Delete article?</h3>
            <br>
            <div class="controls">
                <input data-remodal-action="cancel" type="button" value="Cancel">
                <input data-remodal-action="confirm" type="button" value="Delete" data-ng-click="delete()">
            </div>
        </div>

        <script type="application/javascript">
                var articleModel = @Html(article);
                var articleLinks = @Html(articleNames);
                var tags = @Html(tags);
                var langs = @Html(langs);
        </script>

    }
