@(news: String)(implicit user: Account)

@sidebar = {
    <ul>
        <li>
            <a href="@routes.AdminController.articleNew">Add article</a>
        </li>
    </ul>
}

@layout.admin("news-section", Some(sidebar), controller = Some("NewsController")) {

    <ul class="news">
        <li class="item" ng-repeat="item in newsPage">
            <a href="/admin/article/{{item.id}}">
                <h3>{{item.caption}}</h3>
                <ul class="tags">
                    <li ng-repeat="tag in item.tags">{{tag.text}}</li>
                </ul>
                <div class="date">{{item.publish_time_formatted}}</div>
            </a>
        </li>
        <div paging page="page" page-size="pageSize" total="total" paging-action="showPage(page)" ng-hide="news.length <= pageSize"></div>
    </ul>
    <script type="application/javascript">
            var newsList=@Html(news)
    </script>

}
