@charset "UTF-8";
.content-body {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
@media screen and (min-width: 80em) {
  .content-body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    margin-left: 8.33333%;
    margin-right: 8.33333%;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
}

section.main-content {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

section.container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
section.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (min-width: 48em) {
  section.container {
    max-width: 46em;
    margin-left: auto;
    margin-right: auto;
  }
  section.container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 60em) {
  section.container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  section.container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 80em) {
  section.container {
    max-width: 78em;
    margin-left: auto;
    margin-right: auto;
  }
  section.container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  align-content: stretch;
  position: relative;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='button'], input[type='text'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

html, body {
  height: 100%;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ng-cloak {
  display: none;
}

.t-ultrastrong {
  font-weight: 800;
}

.t-strong {
  font-weight: 700;
}

.t-regular {
  font-weight: 400;
}

.t-light {
  font-weight: 300;
}

.t-tiny {
  font-size: 11px;
  font-size: 0.694rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.t-small {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.t-base {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.t-medium {
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.t-large {
  font-size: 23px;
  font-size: 1.44rem;
  line-height: 36px;
  line-height: 2.25rem;
}

.t-xlarge {
  font-size: 28px;
  font-size: 1.728rem;
  line-height: 36px;
  line-height: 2.25rem;
}

h1 {
  font-size: 28px;
  font-size: 1.728rem;
  line-height: 36px;
  line-height: 2.25rem;
}

h2 {
  font-size: 23px;
  font-size: 1.44rem;
  line-height: 36px;
  line-height: 2.25rem;
}

h3 {
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

.float-right {
  float: right;
}

.hidden {
  display: none !important;
}

.border {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid grey !important;
}

.close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  width: 32px;
  height: 32px;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #eee;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.close:hover:before, .close:hover:after {
  background-color: #f26522;
}
.close:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.control-container {
  margin-bottom: 3px;
}

.form-control {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
}
.form-control.md {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
.form-control.lg {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 3rem;
  line-height: 3rem;
}

.inp {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  border: 1px solid gray;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.inp.md {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
.inp.lg {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 3rem;
  line-height: 3rem;
}

.btn {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
  text-transform: uppercase;
  border: 1px solid #f26522;
}
.btn.md {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
.btn.lg {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 3rem;
  line-height: 3rem;
}
.btn, .btn * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  background-color: #f26522;
  text-decoration: none;
}
.btn:hover, .btn:hover * {
  color: #ddd !important;
  background-color: #1E1E1E;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  header .container {
    border-left: 1px solid #444;
    border-right: 1px solid #444;
  }
}
header .corporate {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMjYyNjI2Ii8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMyNjI2MjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTFlMWUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e1e1e), color-stop(25%, #262626), color-stop(75%, #262626), color-stop(100%, #1e1e1e));
  background-image: -moz-linear-gradient(#1e1e1e, #262626 25%, #262626 75%, #1e1e1e);
  background-image: -webkit-linear-gradient(#1e1e1e, #262626 25%, #262626 75%, #1e1e1e);
  background-image: linear-gradient(#1e1e1e, #262626 25%, #262626 75%, #1e1e1e);
  height: 7.5rem;
}
header .corporate .container {
  line-height: 7.5rem;
  text-align: center;
  position: relative;
}
header .corporate .container img {
  max-width: 90%;
  vertical-align: middle;
}
header .menu {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #262626));
  background-image: -moz-linear-gradient(#262626, #262626);
  background-image: -webkit-linear-gradient(#262626, #262626);
  background-image: linear-gradient(#262626, #262626);
  border-top: 2px solid #777;
  height: 3rem;
  position: relative;
}
header .menu .container {
  margin-top: -2px;
}
header .menu .menu-button {
  font-size: 23px;
  font-size: 1.44rem;
  line-height: 36px;
  line-height: 2.25rem;
  float: left;
  display: block;
}
header .menu .menu-button, header .menu .menu-button * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
header .menu .menu-button:hover, header .menu .menu-button:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
header .menu ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  height: 3rem;
}
header .menu ul li {
  float: left;
  text-transform: uppercase;
  display: block;
  position: relative;
  cursor: pointer;
}
header .menu ul a, header .menu ul div {
  font-weight: 700;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  display: block;
  position: relative;
}
header .menu ul.tools {
  float: right;
}
header .menu ul.tools li {
  padding-left: 15px;
  padding-left: 0.9375rem;
  padding-right: 0%;
}
header .menu ul.tools li.lang {
  width: 65px;
  position: relative;
}
header .menu ul.tools li.lang > div, header .menu ul.tools li.lang > div * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
header .menu ul.tools li.lang > div:hover, header .menu ul.tools li.lang > div:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
header .menu ul.tools li.lang > div:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 5px;
  content: "";
}
header .menu ul.tools li.lang:hover ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
}
header .menu ul.tools li.lang ul {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #262626));
  background-image: -moz-linear-gradient(#262626, #262626);
  background-image: -webkit-linear-gradient(#262626, #262626);
  background-image: linear-gradient(#262626, #262626);
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  border-top: 2px solid #f26522;
  position: absolute;
  z-index: 10;
  left: -10px;
  width: 100px;
  height: initial;
  padding: 5px 0;
}
header .menu ul.tools li.lang ul li {
  padding: 2px 10px;
  width: 100%;
  text-align: center;
}
header .menu ul.tools li.lang ul li, header .menu ul.tools li.lang ul li * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
header .menu ul.tools li.lang ul li:hover, header .menu ul.tools li.lang ul li:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
header .menu ul.tools li.search > div, header .menu ul.tools li.search > div * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
header .menu ul.tools li.search > div:hover, header .menu ul.tools li.search > div:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
header .menu ul.tools li.search > div:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}
header .menu ul.categories {
  display: none;
}
header .menu ul.categories li.logo img {
  vertical-align: middle;
}
header .menu ul.categories li.logo img.all {
  display: initial;
}
header .menu ul.categories li.logo img.tablet {
  display: none;
}
@media screen and (max-width: 60em) and (min-width: 48em) {
  header .menu ul.categories li.logo img.tablet {
    display: initial;
  }
  header .menu ul.categories li.logo img.all {
    display: none;
  }
}
header .menu.menu-active ul.categories {
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  top: 3rem;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  background-color: #262626;
  border-top: 2px solid #777;
  margin-top: -2px;
  z-index: 100;
  height: auto;
}
header .menu.menu-active ul.categories li {
  float: none;
  text-align: center;
}
header .menu.menu-active ul.categories li a {
  padding-top: 6px;
  padding-top: 0.375rem;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
}
header .menu.menu-active ul.categories li a, header .menu.menu-active ul.categories li a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
header .menu.menu-active ul.categories li a:hover, header .menu.menu-active ul.categories li a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
@media screen and (min-width: 48em) {
  header .menu .menu-button {
    display: none;
  }
  header .menu ul.tools {
    margin-right: 25px;
  }
  header .menu ul.categories {
    float: left;
    display: block;
  }
  header .menu ul.categories li {
    padding-left: 10px;
    padding-left: 0.625rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    border-right: 1px solid #444;
  }
  header .menu ul.categories li a {
    text-transform: uppercase;
    z-index: 2;
  }
  header .menu ul.categories li a, header .menu ul.categories li a * {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #ddd;
    background-color: initial;
    text-decoration: none;
  }
  header .menu ul.categories li a:hover, header .menu ul.categories li a:hover * {
    color: white !important;
    background-color: initial;
    text-decoration: none;
  }
  header .menu ul.categories li a:active, header .menu ul.categories li a:hover {
    background-color: transparent;
    outline: none;
  }
  header .menu ul.categories li.color1:after {
    background: #f6976a;
  }
  header .menu ul.categories li.color2:after {
    background: #f26522;
  }
  header .menu ul.categories li.color3:after {
    background: #48c4eb;
  }
  header .menu ul.categories li.color4:after {
    background: #ee7b0e;
  }
  header .menu ul.categories li.color5:after {
    background: #9d34a6;
  }
  header .menu ul.categories li:after {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    content: "";
  }
  header .menu ul.categories li:hover:after {
    height: 100%;
  }
  header .menu ul.categories li.active a {
    color: #f26522;
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  visibility: hidden;
  overflow: auto;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.1);
}
.loading-overlay > div {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #333;
  transform: translate(-50%, -50%);
}

.search-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  visibility: hidden;
  overflow: auto;
  pointer-events: auto;
}
.search-overlay .search-input, .search-overlay .result {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
@media screen and (min-width: 60em) {
  .search-overlay .search-input, .search-overlay .result {
    width: 81.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-left: 9.16667%;
  }
}
@media screen and (min-width: 80em) {
  .search-overlay .search-input, .search-overlay .result {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-left: 17.5%;
  }
}
.search-overlay .search-input {
  margin-top: 72px;
  margin-top: 4.5rem;
  position: relative;
}
.search-overlay .search-input:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 23px;
  font-size: 1.44rem;
  line-height: 36px;
  line-height: 2.25rem;
  color: #eee;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
.search-overlay .search-input input[type="text"] {
  font-size: 23px;
  font-size: 1.44rem;
  line-height: 36px;
  line-height: 2.25rem;
  width: 100%;
  outline: none;
  color: white;
  position: relative;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #eee;
}
.search-overlay .result {
  margin-top: 24px;
  margin-top: 1.5rem;
  color: #eee;
}
.search-overlay .result li {
  border-bottom: 1px solid #eee;
  margin-bottom: -1px;
}
.search-overlay .result h2 {
  line-height: 2.25rem;
}
.search-overlay .result h2 a, .search-overlay .result h2 a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
.search-overlay .result h2 a:hover, .search-overlay .result h2 a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}

.app-wrapper.search-active main {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.app-wrapper.search-active .search-overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
}

footer {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e1e1e), color-stop(100%, #1e1e1e));
  background-image: -moz-linear-gradient(#1e1e1e, #1e1e1e);
  background-image: -webkit-linear-gradient(#1e1e1e, #1e1e1e);
  background-image: linear-gradient(#1e1e1e, #1e1e1e);
}
footer .links .container {
  margin-top: 12px;
  margin-top: 0.75rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
footer .links h4 {
  padding-top: 12px;
  padding-top: 0.75rem;
  color: #ddd;
}
footer .links a {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}
footer .links .logo {
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  text-align: center;
}
@media screen and (max-width: 47em) {
  footer .links .logo {
    display: none;
  }
  footer .links .logo .about, footer .links .logo .social, footer .links .logo .subscribe {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media screen and (min-width: 48em) {
  footer .links .logo {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  footer .links .about, footer .links .social, footer .links .subscribe {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media screen and (min-width: 60em) {
  footer .links .logo, footer .links .about, footer .links .social, footer .links .subscribe {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
footer .links .about ul, footer .links .social ul {
  list-style: none;
  padding: 0;
}
footer .links .about ul li, footer .links .social ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
footer .links .about ul li, footer .links .social ul li {
  border-bottom: 1px solid #444;
}
footer .links .about ul li a, footer .links .about ul li a *, footer .links .social ul li a, footer .links .social ul li a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
footer .links .about ul li a:hover, footer .links .about ul li a:hover *, footer .links .social ul li a:hover, footer .links .social ul li a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
footer .copyright .container {
  margin-top: 12px;
  margin-top: 0.75rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
footer .copyright span {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  border-top: 1px solid #444;
  color: #ddd;
}
@media screen and (max-width: 47em) {
  footer .copyright span {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    text-align: center;
  }
}
@media screen and (min-width: 48em) {
  footer .copyright span {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media screen and (min-width: 60em) {
  footer .copyright span {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

.news-grid {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -moz-background-size: 100% 0.75rem;
  -o-background-size: 100% 0.75rem;
  -webkit-background-size: 100% 0.75rem;
  background-size: 100% 0.75rem;
  background-position: left top;
  padding-top: 24px;
  padding-top: 1.5rem;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.news-grid .topic-row {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 60em) {
  .news-grid .topic-row {
    margin-left: -0.83333%;
    margin-right: -0.83333%;
  }
  .news-grid .topic-row.height1 {
    min-height: 9rem;
  }
  .news-grid .topic-row.height1 .topic-col {
    min-height: 9rem;
  }
  .news-grid .topic-row.height2 {
    min-height: 18rem;
  }
  .news-grid .topic-row.height2 .topic-col {
    min-height: 18rem;
  }
  .news-grid .topic-row.height3 {
    min-height: 27rem;
  }
  .news-grid .topic-row.height3 .topic-col {
    min-height: 27rem;
  }
  .news-grid .topic-row.height4 {
    min-height: 36rem;
  }
  .news-grid .topic-row.height4 .topic-col {
    min-height: 36rem;
  }
}
.news-grid .topic-col {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-shadow: inset 0 0 0 1px #ddd;
  -webkit-box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: inset 0 0 0 1px #ddd;
  position: relative;
  overflow: hidden;
  min-height: 4.5rem;
  background-color: white;
}
@media screen and (min-width: 60em) {
  .news-grid .topic-col.span4 {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .news-grid .topic-col.span6 {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .news-grid .topic-col.span8 {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .news-grid .topic-col.span12 {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
.news-grid .topic-col .items {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.news-grid .topic-col .item h2 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  z-index: 100;
}
.news-grid .topic-col .item h2, .news-grid .topic-col .item h2 * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #333;
  background-color: initial;
  text-decoration: none;
}
.news-grid .topic-col .item h2:hover, .news-grid .topic-col .item h2:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
.news-grid .topic-col .item .cover {
  background-size: cover;
  background-position: 50% 50%;
}
.news-grid .topic-col .item .add-info {
  display: -webkit-flex;
  display: flex;
  font-size: 11px;
  font-size: 0.694rem;
  line-height: 24px;
  line-height: 1.5rem;
  z-index: 100;
  color: #777;
  border-top: 1px solid #ddd;
  margin-top: -1px;
}
.news-grid .topic-col .item .add-info .type {
  margin-right: 5px;
}
.news-grid .topic-col .item .add-info .type:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  font-size: 0.694rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.news-grid .topic-col h1 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  z-index: 100;
}
.news-grid .topic-col h1, .news-grid .topic-col h1 * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #333;
  background-color: initial;
  text-decoration: none;
}
.news-grid .topic-col h1:hover, .news-grid .topic-col h1:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
.news-grid .topic-col.featured {
  border-top: 5px solid #f26522;
}
.news-grid .topic-col.featured h1 {
  margin-top: -5px;
}
.news-grid .topic-col.featured.no-caption .items {
  margin-top: -5px;
}
.news-grid .topic-col.no-caption.type-text {
  padding-top: 12px;
  padding-top: 0.75rem;
}
.news-grid .topic-col.type-photo, .news-grid .topic-col.type-video {
  padding-left: 0%;
  padding-right: 0%;
}
.news-grid .topic-col.type-photo h1, .news-grid .topic-col.type-photo h2, .news-grid .topic-col.type-photo .add-info, .news-grid .topic-col.type-video h1, .news-grid .topic-col.type-video h2, .news-grid .topic-col.type-video .add-info {
  margin-left: 20px;
  margin-right: 20px;
}
.news-grid .topic-col.type-photo .item, .news-grid .topic-col.type-video .item {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.news-grid .topic-col.type-photo .item .cover, .news-grid .topic-col.type-video .item .cover {
  min-height: 12rem;
  display: block;
}
.news-grid .topic-col.type-photo .item .title, .news-grid .topic-col.type-video .item .title {
  padding-top: 12px;
  padding-top: 0.75rem;
}
@media screen and (min-width: 60em) {
  .news-grid .topic-col.type-photo .item, .news-grid .topic-col.type-video .item {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  .news-grid .topic-col.type-photo .item .cover, .news-grid .topic-col.type-video .item .cover {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: initial;
  }
  .news-grid .topic-col.type-photo .item .title, .news-grid .topic-col.type-video .item .title {
    padding-top: 12px;
    padding-top: 0.75rem;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
  }
}
.news-grid .topic-col.type-photo .item:hover, .news-grid .topic-col.type-video .item:hover {
  opacity: 0.9;
}
.news-grid .topic-col.type-photo .type:before, .news-grid .topic-col.type-cover-photo .type:before {
  content: "";
}
.news-grid .topic-col.type-video .type:before {
  content: "";
}
.news-grid .topic-col.type-video .playback {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transform: translate(-50%, -100%);
}
.news-grid .topic-col.type-video .playback, .news-grid .topic-col.type-video .playback * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  background-color: initial;
  text-decoration: none;
}
.news-grid .topic-col.type-video .playback:hover, .news-grid .topic-col.type-video .playback:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
.news-grid .topic-col.type-text .type:before {
  content: "";
}
@media screen and (min-width: 60em) {
  .news-grid .topic-col.type-text.span12 .items {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .news-grid .topic-col.type-text.span12 .items .first-item, .news-grid .topic-col.type-text.span12 .items .rest-items {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 0;
  }
  .news-grid .topic-col.type-text.span12 .items .first-item h2 {
    font-size: 23px;
    font-size: 1.44rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
  .news-grid .topic-col.type-text.span12 .items .first-item .add-info {
    border: none;
  }
}
.news-grid .topic-col.type-text.span4 .items h2 {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.news-grid .topic-col.type-cover-photo.span12 h2 {
  font-size: 23px;
  font-size: 1.44rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 700;
}

article {
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  background-color: white;
  position: relative;
}
article .article-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
article .article-header .cover-image {
  padding-top: 24px;
  padding-top: 1.5rem;
}
article .article-header .article-info {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #777;
  border-bottom: 1px solid #777;
  margin-bottom: -1px;
}
@media screen and (min-width: 60em) {
  article .article-header .article-info {
    border-bottom: none;
    margin-bottom: 0;
  }
}
article .article-header .article-info > span {
  margin-right: 1.5rem;
}
article .article-body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
@media screen and (min-width: 60em) {
  article .article-body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
  }
}
article .adv {
  padding-left: 20px;
  display: none;
}
@media screen and (min-width: 60em) {
  article .adv {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    display: block;
    min-height: 600px;
  }
  article .adv img {
    margin: 0;
  }
  article .adv #swiffycontainer {
    width: 300px;
    height: 500px;
  }
}
article .source, article .date {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}
article .source a, article .source a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #777;
  background-color: initial;
  text-decoration: none;
}
article .source a:hover, article .source a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
article .source:before, article .date:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
article .source:before {
  content: "";
}
article .date:before {
  content: "";
}
article .close {
  display: none;
}
@media screen and (min-width: 60em) {
  article .close {
    display: block;
  }
  article .close:before, article .close:after {
    background-color: #333;
  }
}
article .source-quote {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: lightgray;
  border-left: 5px solid #f26522;
}
article .source-quote a, article .source-quote a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #333;
  background-color: initial;
  text-decoration: none;
}
article .source-quote a:hover, article .source-quote a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
article .source-quote p {
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #777;
}
article .source-quote cite {
  margin-top: -1px;
}
article .source-quote:hover p {
  border-bottom: 1px solid #f26522;
}
article p.q:before, article p.a:before {
  content: "—";
  padding-right: 5px;
}
article p.q {
  font-weight: 700;
}
article p {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  display: block;
}
article cite {
  display: block;
}
article strong {
  font-weight: 700;
}
article em {
  font-style: italic;
}
article img, article iframe {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  display: block;
  max-width: 100%;
  margin: auto;
}
article h2, article h3, article h4 {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

main.admin-area {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}
main.admin-area:after {
  content: " ";
  display: block;
  clear: both;
}
main.admin-area > header {
  background-color: #262626;
  height: 3rem;
  line-height: 3rem;
  color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}
main.admin-area > header h2 {
  float: left;
}
main.admin-area > header .auth {
  float: right;
  list-style-type: none;
}
main.admin-area > header .auth, main.admin-area > header .auth li {
  margin: 0;
  padding: 0;
  display: inline;
}
main.admin-area > header .auth li {
  padding: 0 5px;
}
main.admin-area > header .auth a, main.admin-area > header .auth a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
main.admin-area > header .auth a:hover, main.admin-area > header .auth a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
main.admin-area > aside.main-menu {
  background-color: #262626;
  position: fixed;
  top: 3rem;
  bottom: 0;
  left: 0;
  width: 180px;
}
main.admin-area > aside.main-menu li a {
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  width: 100%;
  display: block;
  padding-left: 20px;
}
main.admin-area > aside.main-menu li a, main.admin-area > aside.main-menu li a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ddd;
  background-color: initial;
  text-decoration: none;
}
main.admin-area > aside.main-menu li a:hover, main.admin-area > aside.main-menu li a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
main.admin-area > aside.main-menu li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 10px;
}
main.admin-area > aside.main-menu li.active, main.admin-area > aside.main-menu li:hover {
  background-color: #1E1E1E;
}
main.admin-area > aside.main-menu li.active a, main.admin-area > aside.main-menu li:hover a {
  color: #f26522;
}
main.admin-area > aside.main-menu #news a:before {
  content: "";
}
main.admin-area > aside.main-menu #layouts a:before {
  content: "";
}
main.admin-area aside.sub-menu {
  background-color: white;
  border-left: 1px solid #262626;
  position: fixed;
  top: 3rem;
  right: 0;
  bottom: 0;
  width: 140px;
}
main.admin-area aside.sub-menu ul {
  padding-top: 24px;
  padding-top: 1.5rem;
}
main.admin-area aside.sub-menu ul li {
  padding-left: 30px;
}
main.admin-area aside.sub-menu ul a, main.admin-area aside.sub-menu ul a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: darkblue;
  background-color: initial;
  text-decoration: none;
}
main.admin-area aside.sub-menu ul a:hover, main.admin-area aside.sub-menu ul a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
main.admin-area aside.sub-menu ul.langs li {
  padding-left: 10px;
}
main.admin-area aside.sub-menu ul.langs li input {
  margin-right: 5px;
}
main.admin-area.submenu-on .main-section {
  margin-right: 140px;
}
main.admin-area section.main-section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-top: 4.5rem;
  padding-bottom: 72px;
  padding-bottom: 4.5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 180px;
  position: relative;
}
main.admin-area section.main-section:after {
  content: " ";
  display: block;
  clear: both;
}
main.admin-area section.main-section .flash {
  position: fixed;
  top: 3rem;
  left: 180px;
  background-color: lightgreen;
  right: 140px;
  color: green;
  padding: 5px 20px;
  z-index: 10;
}
main.admin-area section.main-section .breadcrumbs {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  overflow: auto;
}
main.admin-area section.main-section .breadcrumbs li {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  float: left;
  padding-right: 5px;
}
main.admin-area section.main-section .breadcrumbs li a, main.admin-area section.main-section .breadcrumbs li a * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: darkblue;
  background-color: initial;
  text-decoration: none;
}
main.admin-area section.main-section .breadcrumbs li a:hover, main.admin-area section.main-section .breadcrumbs li a:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
main.admin-area section.main-section .breadcrumbs li a:after {
  padding-left: 5px;
  content: ">";
}
main.admin-area section.main-section dl {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
main.admin-area section.main-section dl dt {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 1.5rem;
}
main.admin-area section.main-section dl dd input, main.admin-area section.main-section dl dd textarea {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  width: 100%;
  border: 1px solid lightgray;
  color: #333;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
main.admin-area section.main-section dl dd input {
  height: 1.5rem;
}
main.admin-area section.main-section dl dd textarea {
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  height: 45rem;
}
main.admin-area section.news-section .pagination {
  margin-top: 24px;
  margin-top: 1.5rem;
}
main.admin-area section.news-section .pagination li {
  font-size: 23px;
  font-size: 1.44rem;
  line-height: 36px;
  line-height: 2.25rem;
  float: left;
  padding-right: 10px;
}
main.admin-area section.news-section .pagination li, main.admin-area section.news-section .pagination li * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #333;
  background-color: initial;
  text-decoration: none;
}
main.admin-area section.news-section .pagination li:hover, main.admin-area section.news-section .pagination li:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
main.admin-area section.news-section .pagination li.active a {
  color: #f26522;
}
main.admin-area section.news-section .item {
  border-bottom-width: 1px;
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.6875rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
main.admin-area section.news-section .item, main.admin-area section.news-section .item * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #333;
  background-color: initial;
  text-decoration: none;
}
main.admin-area section.news-section .item:hover, main.admin-area section.news-section .item:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
main.admin-area section.news-section .item .tags {
  overflow: auto;
}
main.admin-area section.news-section .item .tags li {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  float: left;
  padding-right: 5px;
}
main.admin-area section.news-section .item .date {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}
main.admin-area section.article-section dl.tags {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
main.admin-area section.article-section dl.tags .host {
  margin: 0;
}
main.admin-area section.article-section dl.tags span, main.admin-area section.article-section dl.tags a {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}
main.admin-area section.article-section dl.tags input {
  width: 80px !important;
}
main.admin-area section.article-section dl.tags a {
  color: white;
}
main.admin-area section.article-section dl.tags li.tag-item {
  color: white;
  background: blue;
  -webkit-font-smoothing: subpixel-antialiased;
}
main.admin-area section.article-section dl.tags ti-tag-item {
  display: block;
  margin-top: -3px;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 18px;
  height: 18px;
}
main.admin-area section.article-section dl.tags li.tag-item, main.admin-area section.article-section dl.tags input {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 1px 5px;
  margin: 0 2px;
  height: 20px;
  font-family: "Open Sans", sans-serif;
}
main.admin-area section.article-section dl.tags .autocomplete {
  margin: 0;
  padding: 0;
}
main.admin-area section.article-section dl.tags .autocomplete li {
  padding: 2px 5px;
}
main.admin-area section.article-section dl.tags .autocomplete em {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}
main.admin-area section.article-section dl.publish {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-right: 0.41667%;
}
main.admin-area section.article-section dl.publish input {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}
main.admin-area section.article-section dl.origin {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
}
main.admin-area section.article-section dl.cover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.41667%;
}
main.admin-area section.article-section dl.caption {
  padding-top: 24px;
  padding-top: 1.5rem;
}
main.admin-area section.article-section dl.caption input {
  font-size: 23px;
  font-size: 1.44rem;
  line-height: 36px;
  line-height: 2.25rem;
  height: 3rem;
}
main.admin-area section.article-section .lang-label {
  border-bottom: 1px solid #333;
  margin-bottom: -1px;
}
main.admin-area section.article-section article.edit {
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 80em) {
  main.admin-area section.article-section article.edit .article-body {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-left: 0.83333%;
  }
}
main.admin-area section.article-section article.edit .alloy-editor {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid lightblue !important;
  width: 100%;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.ae-button {
  margin-left: 13px;
}

main.login-area form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e1e1e), color-stop(100%, #1e1e1e));
  background-image: -moz-linear-gradient(#1e1e1e, #1e1e1e);
  background-image: -webkit-linear-gradient(#1e1e1e, #1e1e1e);
  background-image: linear-gradient(#1e1e1e, #1e1e1e);
  margin-top: 240px;
  margin-top: 15rem;
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  color: #eee;
  width: 500px;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: auto;
  margin-right: auto;
}
main.login-area form:after {
  content: " ";
  display: block;
  clear: both;
}
main.login-area form .logo {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  text-align: center;
}
main.login-area form .error {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: red;
}
main.login-area form input {
  margin-bottom: 5px;
}
main.login-area form .login, main.login-area form .password {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
main.login-area form .submit {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-transform: uppercase;
}

.tracking .event {
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  background-color: white;
}
.tracking .event.featured {
  border-top: 5px solid #f26522;
}
.tracking .event.featured h2 {
  margin-top: -5px;
}
.tracking .races {
  padding-top: 24px;
  padding-top: 1.5rem;
}
.tracking .races .race {
  padding-left: 20px;
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.tracking .races .replay {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
  text-transform: uppercase;
  border: 1px solid #f26522;
  float: right;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  width: auto;
  text-transform: lowercase;
  height: 1.35rem;
  line-height: 1.35rem;
}
.tracking .races .replay.md {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
.tracking .races .replay.lg {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 3rem;
  line-height: 3rem;
}
.tracking .races .replay, .tracking .races .replay * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  background-color: #f26522;
  text-decoration: none;
}
.tracking .races .replay:hover, .tracking .races .replay:hover * {
  color: #333 !important;
  background-color: transparent;
  text-decoration: none;
}
.tracking .show {
  float: right;
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  line-height: 3rem;
}
.tracking .show, .tracking .show * {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #333;
  background-color: initial;
  text-decoration: none;
}
.tracking .show:hover, .tracking .show:hover * {
  color: #f26522 !important;
  background-color: initial;
  text-decoration: none;
}
.tracking .date {
  font-size: 13px;
  font-size: 0.833rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-style: italic;
}

/*# sourceMappingURL=screen.css.map */
