<configuration>

    <property name="PATTERN" value="%cyan(%date{ISO8601, UTC} UTC) %X{region} %highlight(%level) - %msg%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/barracuda/barracuda-portal.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/metatron/barracuda-portal.%d.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="SENTRY" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>https://7f3b1a91420a45ebbdc6bbcad92f8feb:76daee6048914dbcb3f2a419fa8dfe66@sentry.io/136564?options</dsn>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="play" level="INFO"/>
    <logger name="application" level="INFO"/>

    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="com.datastax" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="ASYNCFILE"/>
        <appender-ref ref="SENTRY"/>
    </root>

</configuration>
