@import "compass"
@import "susy"
@import "base"
@import "mixins"

body
  #page-header
    display: none
    .social-likes
      display: none
  +tablet-media
    #page-header
      display: block
  &.fixed-article-header
    #page-header
      position: fixed
      top: 0
      width: 100%
      height: rhythm(5/2)
      opacity: 0.9
      background-color: white
      .social-likes
        display: block
        margin: 15px

.social-likes
  margin: 0
  .social-likes__widget
    margin: 0 5px 0 0

article
  +rhythm-margins(1)
  background-color: rgba(white, 1)
  position: relative
  +with-layout(12 fluid inside)
    .article-header
      +span(12 no-gutter)
      +padding-trailer(1)
      .cover-image
        +padding-leader(1)
        img
          display: block
          max-width: 100%
          margin: auto
      .article-info
        +t-small
        color: $blackColor4
        border-bottom: 1px solid $blackColor4
        margin-bottom: -1px
        +desktop-media
          border-bottom: none
          margin-bottom: 0
        & > span
          margin-right: rhythm(1)
    .adv
      padding-left: $pad-col
      display: none
      +desktop-media
        +span(4 no-gutter)
        display: block
        min-height: 600px
        img
          margin: 0
        #swiffycontainer
          width: 300px
          height: 500px
    .article-body, .article-edit
      +span(12 no-gutter)
      +desktop-media
        +span(8 no-gutter)
      p.q:before, p.a:before
        content: "—"
        padding-right: 5px
      p.q
        +t-strong
      p.photo-caption
        +t-small
        margin-top: - rhythm(2)
        text-align: center
      ol
        list-style-type: decimal
      ul
        list-style: initial
      ol, ul
        +padding-trailer(1)
        padding-left: 20px
        li
          +margin-trailer(1/2)
        li:last-child
          +margin-trailer(0)
      p
        +padding-trailer(1)
        display: block
      cite
        display: block
      strong
        +t-strong
      em
        font-style: italic
      img, iframe
        +padding-trailer(1)
        display: block
        max-width: 100%
        margin: auto
      #{headers(2,4)}
        +margin-trailer(1)
    .article-body
      .gallery-preview
        +margin-trailer(1/2)
        position: relative
        p
          display: none
          padding: 0
          &.caption
            +padding-leader(1/2)
            display: block
            +tablet-media
              bottom: 0
              left: 0
              right: 0
              position: absolute
              opacity: 0.7
              background: white
              padding: rhythm(1/2) $pad-col/2 rhythm(1/2) $pad-col/2
      .image-wrapper
        position: relative
        overflow: hidden
        .next, .prev
          +border-radius(5px)
          +fa
          +transition(all 0.2s ease-in-out)
          position: absolute
          border: 1px solid white
          color: white
          width: 50px
          height: 50px
          top: 50%
          transform: translate(0, -50%)
          cursor: pointer
          font-size: 20px
          text-align: center
          line-height: 48px
          &:hover
            border: 1px solid $activeLink
            color: $activeLink
        .prev
          left: 25px
        .next
          right: 25px
        img
          padding: 0
      .gallery
        +margin-trailer(1)
        padding: 0
        white-space: nowrap
        overflow-x: scroll
        overflow-y: hidden
        li
          display: inline-block
          vertical-align: top
          cursor: pointer
          margin-right: rhythm(1/4)
          margin-bottom: 0
          position: relative
          & > p
            display: none
          p:nth-child(1)
            display: block
            img
              padding: 0
              height: rhythm(3)
              float: left
          &.sel:after
            +stretch()
            content: ""
            border: 2px solid $activeLink
            height: rhythm(3)
    .article-social-footer
      +span(12 no-gutter)
      +desktop-media
        +span(8 no-gutter)
      height: rhythm(1)
    .related
      +span(12 no-gutter)
      +desktop-media
        +span(8 no-gutter)
      h3
        border-bottom: 2px solid $activeLink
      .news-list
        margin-top: - 2px
    .source, .date
      +t-small
    .source a
      +active-link($blackColor4)
    .source:before, .date:before
      +fa
      margin-right: 5px
    .source:before
      content: "\f061"
    .date:before
      content: "\f017"
    .close
      display: block
      &:before, &:after
        background-color: $blackTextColor
    .source-quote
      +margin-trailer(1)
      padding: rhythm(1)
      background-color: lightgray
      border-left: 5px solid $activeLink
      a
        +active-link($blackTextColor)
      p
        +padding-trailer(1/2)
        +margin-trailer(1/2)
        border-bottom: 1px solid $blackColor4
      cite
        margin-top: -1px
      &:hover p
        border-bottom: 1px solid $activeLink