@import "compass"
@import "susy"
@import "mixins"
@import "typography"
@import "compass/typography/vertical_rhythm"
@import "compass/css3"

main.login-area
  form
    +container(100%)
    +background-image(linear-gradient($blackColor1, $blackColor1))
    +margin-leader(10)
    +padding-leader(2)
    +padding-trailer(2)
    color: $whiteColor
    width: 500px
    padding-left: 75px
    padding-right: 75px
    margin-left: auto
    margin-right: auto
    .logo
      +span(12)
      +padding-trailer(1)
      text-align: center
    .error
      +t-small
      color: red
    input
      margin-bottom: 5px
    .login, .password
      +span(6)
    .submit
      +span(12)
      text-transform: uppercase
