@import "vars"
@import "susy"
@import "compass"
@import "breakpoint"
@import "compass/reset"

=xdesktop-media
  +breakpoint($xDesktopWidth)
    @content

=desktop-media
  +breakpoint($desktopWidth)
    @content

=tablet-media
  +breakpoint($tabletWidth)
    @content

=mobile-media
  +breakpoint(max-width $tabletWidth - 1)
    @content

=lt-desktop-media
  +breakpoint(max-width $desktopWidth - 1)
    @content

=lt-tablet-media
  +breakpoint(max-width $tabletWidth - 1)
    @content

=eq-tablet-media-only
  +breakpoint((max-width $desktopWidth) (min-width $tabletWidth))
    @content

body
  background-color: $bgColor
  font-family: 'Open Sans', sans-serif

section.main-content
  +flex(1 0 auto)

section.container
  +container(95%)
  +tablet-media
    +container($tabletWidth - 2)
  +desktop-media
    +container(95%)
  +xdesktop-media
    +container($xDesktopWidth - 2)

main
  +display-flex()
  +flex-direction(column)
  +flex-wrap(nowrap)
  +justify-content(flex-start)
  +align-content(stretch)
  position: relative
  min-height: 100vh
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body
  height: 100%

*, *:after, *:before
  +box-sizing(border-box)

.ng-cloak
  display: none

