@import "mixins"
@import "compass"
@import "susy"
@import "compass/typography/vertical_rhythm"

footer
  +background-image(linear-gradient($blackColor1, $blackColor1))
  .links
    h4
      +t-strong
      +padding-leader(1/2)
      +gt-mobile-media
        +padding-trailer(1/2)
      color: $textColor
    a
      +t-small
    .container
      +rhythm-margins(1/2, 1)
    .logo
      +rhythm-padding(0.5)
      text-align: center
    +desktop-media
      .logo, .about, .social, .subscribe
        +span(3)
    +tablet-media
      .logo
        +span(12)
      .about, .social, .subscribe
        +span(4)
    +mobile-media
      .logo
        display: none
      .about, .social, .subscribe
        +span(12)
    .about, .social
      ul
        +no-bullets
        padding: 0
        li
          border-bottom: 1px solid $blackColor3
          a
            +active-link
    .subscribe
      input
        +border-radius(0)
        +margin-trailer(1/4)
        +t-small
        height: rhythm(4/3)
        width: 100%
        padding-left: rhythm(1/2)
        padding-right: rhythm(1/2)
      input[type='submit']
        +active-link(white, $textColor, $activeLink, $blackColor1)
        border: 1px solid $activeLink
  .copyright
    .container
      +rhythm-margins(0.5)
    span
      +t-small
      border-top: 1px solid $blackColor3
      color: $textColor
      +desktop-media
        +span(6)
      +tablet-media
        +span(8)
      +mobile-media
        +span(12)
        text-align: center