@import "mixins"
@import "compass"
@import "susy"

$row-heights: (6, 12, 18, 24)
$col-spans: (4, 6, 8, 12)

.news-grid
  +padding-leader(1)
  +flex(1 0 auto)
  .topic-row
    margin-left: gutter()
    margin-right: gutter()
    +desktop-media
      margin-left: -10px
      margin-right: -10px
      @for $i from 1 through length($row-heights)
        &.height#{$i}
          min-height: rhythm(nth($row-heights, $i))
          .topic-col
            min-height: rhythm(nth($row-heights, $i))
  .topic-col
    +border($color: red, $width: 4px)
    +margin-trailer(1)
    min-height: rhythm(3)
    +desktop-media
      @for $i from 1 through length($col-spans)
        &.span#{nth($col-spans, $i)}
          +span(nth($col-spans, $i))

//.topic-row
  .topic-col
    +display-flex()
    +flex-direction(column)
    background-color: white
    margin: 0 -5px
    h1
      +active-link(inherit)
      font-size: 24px
      margin: 0
      padding: 10px 20px
    &.featured
      border-top: 5px solid $activeLink
    .items
      +flex(1 1 auto)
      +display-flex()
      +flex-direction(column)
  .item
    h2
      font-size: 20px
      padding: 0 20px
  .add-info
    +display-flex()
    font-size: 10px
    border-top: 1px solid $blackColor4
    margin: 0 20px
    padding: 5px 0
    .type
      margin-right: 5px
    .type:before
      +fa
      font-size: 14px

  .type-photo, .type-video
    .item
      +flex(1 1 auto)
      +display-flex()
      +flex-direction(column)
      +justify-content(flex-end)
      +align-items(stretch)
      background-size: cover
      background-position: 50% 50%
      h2
        +active-link(white)
      .add-info
        border-top: 1px solid white
        color: white
  .type-photo .type:before
    content: "\f030"
  .type-text
    .type:before
      content: "\f044"
    h2
      +active-link($blackTextColor)
      font-size: 16px
      font-weight: bold
  .type-video
    .type:before
      content: "\f16a"
    .playback
      +fa
      +active-link(white)
      content: "\f16a"
      position: absolute
      top: 50%
      left: 50%
      font-size: 70px
      transform: translate(-50%, -50%)