@import "mixins"
@import "compass"
@import "susy"
@import "typography"

$row-heights: (6, 12, 18, 24)
$col-spans: (4, 6, 8, 12)

.news-grid
  +padding-leader(1)
  +flex(1 0 auto)
  .topic-row
    margin-left: gutter()
    margin-right: gutter()
    +desktop-media
      margin-left: -10px
      margin-right: -10px
      @for $i from 1 through length($row-heights)
        &.height#{$i}
          height: rhythm(nth($row-heights, $i))
          .topic-col
            height: rhythm(nth($row-heights, $i))
  .topic-col
    +margin-trailer(1)
    +padding-trailer(1)
    +pad($pad-col)
    +display-flex()
    +flex-direction(column)
    position: relative
    overflow: hidden
    min-height: rhythm(3)
    background-color: rgba(white, 1)
    +desktop-media
      @for $i from 1 through length($col-spans)
        &.span#{nth($col-spans, $i)}
          +span(nth($col-spans, $i))
    .items
      +flex(1 1 auto)
      +display-flex()
      +flex-direction(column)
    .item
      h4
        +active-link($color: $blackTextColor)
      .add-info
        +display-flex()
        +t-tiny
        color: $blackColor4
        border-top: 1px solid $blackColor4
        margin-top: -1px
        .type
          margin-right: $featured-width
        .type:before
          +fa
          +t-tiny
    &.featured
      border-top: $featured-width solid $activeLink
      h2
        margin-top: - $featured-width
    &.featured.no-caption
      .items
        margin-top: - $featured-width
    &.no-caption
      +padding-leader(1)
    &.type-text
      .type:before
        content: "\f044"
    &.type-photo, &.type-video
      padding: 0
      min-height: rhythm(8)
      h2, h4, .add-info
        padding: 0
        margin-left: $pad-col
        margin-right: $pad-col
      h4
        +active-link($color: white)
      .item
        +flex(1 1 auto)
        +display-flex()
        +flex-direction(column)
        background-size: cover
        background-position: 50% 50%
        +display-flex()
        +flex-direction(column)
        +justify-content(flex-end)
        +align-items(stretch)
        .add-info
          border-top: 1px solid white
          color: white
    &.type-photo
      .type:before
        content: "\f030"
    &.type-video
      .type:before
        content: "\f16a"
      .playback
        +fa
        +active-link(white)
        content: "\f16a"
        position: absolute
        top: 50%
        left: 50%
        font-size: 70px
        transform: translate(-50%, -50%)