@import "mixins"
@import "compass"
@import "susy"
@import "compass/typography/vertical_rhythm"
@import compass/layout/stretching

$linkColors: (#f6976a, #f26522, #48c4eb, #ee7b0e, #9d34a6)
$delimiter-width: 2px !global
$corporate-lines: 5
$menu-lines: 2

header
  .corporate
    +background-image(linear-gradient($blackColor1, $blackColor2 25%, $blackColor2 75%, $blackColor1))
    height: rhythm($corporate-lines)
    .container
      line-height: rhythm($corporate-lines)
      text-align: center
      position: relative
      +tablet-media
        border-left: 1px solid $blackColor3
        border-right: 1px solid $blackColor3
      img
        vertical-align: middle
  .menu
    +mobile-media
      display: none
    +background-image(linear-gradient($blackColor2, $blackColor2))
    border-top: $delimiter-width solid $blackColor4
    height: rhythm($menu-lines)
    .container
      margin-top: -$delimiter-width
      border-left: 1px solid $blackColor3
      border-right: 1px solid $blackColor3
    ul
      +no-bullets
      height: rhythm($menu-lines)
      li
        +float-left
        display: block
        position: relative
        cursor: pointer
      a, div
        +t-strong
        +t-small
        +rhythm-padding(($menu-lines - 1)/2)
        text-transform: uppercase
        display: block
        position: relative
    ul.categories li
      +pad(25px, 25px)
    ul.tools
      +float-right
      margin-right: 25px
      li
        +pad(15px, 0)
        +active-link($color: $textColor)
        text-transform: uppercase
        div:after
          +fa
      li.lang > div:after
        margin-left: 5px
        content: "\f107"
      li.search > div:after
        content: "\f002"
    ul.categories
      +float-left
      li
        border-right: 1px solid $blackColor3
        a
          +active-link($color: $textColor, $hover: white)
          text-transform: uppercase
          z-index: 2
        a:active, a:hover
          background-color: transparent
          outline: none
        @for $i from 1 through length($linkColors)
          &.color#{$i}:after
            background: nth($linkColors, $i)
        &:after
          cursor: pointer
          position: absolute
          width: 100%
          height: 2px
          left: 0
          top: 0
          content: ''
          transition: all 0.1s
        &:hover:after
          height: 100%
        &.active a
          color: $activeLink

body
  .search-overlay
    +stretch()
    +transition(opacity 0.1s ease-in)
    +opacity(0)
    background-color: rgba(black, 0.8)
    z-index: 10
    visibility: hidden
    overflow: auto
    pointer-events: auto
    .search-input, .result
      +span(12)
      +desktop-media
        +span(10)
        +push(1)
      +xdesktop-media
        +span(8)
        +push(2)
    .search-input
      +margin-leader(3)
      input[type="text"]
        &:after
          +fa
          content: "\f002"
        +t-large
        width: 100%
        outline: none
        color: white
        position: relative
        border: none
        background-color: transparent
        border-bottom: 1px solid $whiteColor
    .result
      +margin-leader(1)
      color: $whiteColor
      li
        border-bottom: 1px solid $whiteColor
        margin-bottom: -1px
      h2
        line-height: rhythm(3/2)
        a
          +active-link()
  &.search-active
    overflow: hidden
    main
      +filter(blur(3px))
    .search-overlay
      +opacity(1)
      visibility: visible


