@import "mixins"
@import "compass"
@import "susy"
@import "compass/typography/vertical_rhythm"

$linkColors: (#f6976a, #f26522, #48c4eb, #ee7b0e, #9d34a6)
$border-width: 2px

header
  .corporate
    +background-image(linear-gradient($blackColor1, $blackColor2 25%, $blackColor2 75%, $blackColor1))
    height: rhythm(5)
    .container
      line-height: rhythm(5)
      text-align: center
      position: relative
      border-left: 1px solid $blackColor3
      border-right: 1px solid $blackColor3
      img
        vertical-align: middle
    .tool
      +active-link($default: $textColor, $bgColor: $blackColor3, $hoverBgColor: $blackColor3)
      color: $textColor
      position: absolute
      top: 50%
      margin-top: -25px
      cursor: pointer
      font-size: 16px
      width: 60px
      line-height: 50px
      border: none
      text-align: center
      vertical-align: middle
      background-color: $blackColor3
      &.info
        left: -8px
        &:after
          left: 0
          border-color: #101010 #101010 transparent transparent !important
        &:before
          content: "\f129"
      &.search
        right: -8px
        &:after
          right: 0
          border-color: #101010 transparent transparent #101010 !important
        &:before
          content: "\f002"
      +desktop-media
        &:after
          border-style: solid
          border-width: 2px 3px
          content: ""
          height: 0
          position: absolute
          top: 100%
          width: 0
  .menu
    +background-image(linear-gradient($blackColor2, $blackColor2))
    border-top: $border-width solid $blackColor4
    height: rhythm(2)
    .container
      margin-top: -$border-width
      border-left: 1px solid $blackColor3
      border-right: 1px solid $blackColor3
    ul
      +no-bullets
      height: rhythm(2)
      li
        +pad(25px, 25px)
        +float-left
        display: block
        position: relative
        cursor: pointer
        a
          +rhythm-padding(0.5)
          display: block
          font-size: 14px
          position: relative
    ul.lang
      +float-right
      a
        +active-link($default: $textColor)
        text-transform: uppercase
        &:after
          +fa
          margin-left: 5px
          content: "\f107"
    ul.categories
      +float-left
      li
        border-right: 1px solid $blackColor3
        a
          +active-link($default: $textColor, $hover: white)
          text-transform: uppercase
          z-index: 2
        a:active, a:hover
          background-color: transparent
          outline: none
        @for $i from 1 through length($linkColors)
          &.color#{$i}:after
            background: nth($linkColors, $i)
        &:after
          cursor: pointer
          position: absolute
          width: 100%
          height: 2px
          left: 0
          top: 0
          content: ''
          transition: all 0.1s
        &:hover:after
          height: 100%
        &.active a
          color: $activeLink