@import "vars"
@import "compass"
@import "breakpoint"

=border($width: 1px, $color: grey)
  +box-sizing(border-box)
  border: $width solid $color !important

=desktop-media
  +breakpoint($tabletWidth)
    @content

=tablet-media
  +breakpoint(max-width $tabletWidth)
    @content

=mobile-media
  +breakpoint(max-width $mobileWidth)
    @content

=gt-mobile-media
  +breakpoint($mobileWidth)
    @content

=active-link($default: $textColor, $hover:$activeLink, $bgColor: initial, $hoverBgColor: initial)
  &, *
    cursor: pointer
    color: $default
    background-color: $bgColor
    transition: all 0.2s ease-in-out
    text-decoration: none
  &:hover
    &, *
      color: $hover !important
      background-color: $hoverBgColor
      text-decoration: none

=fa
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale