@import "compass"
@import "susy"
@import "mixins"

.tracking
  .event
    +pad($pad-col, $pad-col)
    +margin-leader(1)
    +rhythm-padding(1/2)
    background-color: white
    &.featured
      border-top: $featured-width solid $activeLink
      h2
        margin-top: - $featured-width
  .races
    +padding-leader(1)
    .race
      +t-small
      padding-left: $pad-col
      .replay
        +btn($color: white, $hover: $blackTextColor, $bgColor: $activeLink, $hoverBgColor: white)
        +float-right
        +pad($pad-col, $pad-col)
        margin-top: rhythm(1/10)
        width: auto
        text-transform: lowercase
        height: rhythm(8/10)
        line-height: rhythm(8/10)
    .race:hover
      +pad(2 * $pad-col, $pad-col)
      background-color: #eef
      margin-left: - $pad-col
      margin-right: - $pad-col
  .show
    +float-right
    +t-small
    +active-link($color: $blackTextColor)
    line-height: rhythm(2)
  .date
    +t-small
    font-style: italic
