$textColor: #ddd;
$blackTextColor: #333;
$activeLink: #f26522;
$blackColor1: #1E1E1E;
$blackColor2: #262626;
$blackColor3: #444;
$blackColor4: #777;
$whiteColor: #eee;
$bgColor: #eee !global;

$xDesktopWidth: 80em;
$desktopWidth: 60em;
$tabletWidth: 48em;

$breakpoint-default-media: screen;

$susy: (
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: split,
        debug: (
                image: hide,
                color: rgba(grey, 0.25),
                output: background,
                toggle: top right,
        ),
);