@import "lib/compass-mixins/lib/compass"
@import "include/var"
@import "include/tools"

$color1: #1E1E1E
$color2: #262626
$color3: #444
$color4: #777
$linkColors: (#f6976a, #f26522, #48c4eb, #ee7b0e, #9d34a6)
$textColor: #ddd
$activeLink: #f26522

header
  .corporate
    +background-image(linear-gradient($color1, $color2 25%, $color2 75%, $color1))
    border-bottom: 1px solid $color1
    .container
      height: 140px
      border-left: 1px solid $color3
      border-right: 1px solid $color3
    .logo
      text-align: center
      img
        margin-top: 30px
    .tool-wrapper
      position: absolute
      top: 50px
      .tool
        cursor: pointer
        font-size: 16px
        width: 60px
        line-height: 50px
        border: none
        text-align: center
        vertical-align: middle
        background-color: #777
      .tool:after
        border-style: solid
        border-width: 2px 3px
        content: ""
        height: 0
        position: absolute
        top: 100%
        width: 0
      &.info
        left: -8px
        .tool:after
          left: 0
          border-color: #101010 #101010 transparent transparent !important
        .tool:before
          content: "\f129"
      &.search
        right: -8px
        .tool:after
          right: 0
          border-color: #101010 transparent transparent #101010 !important
        .tool:before
          content: "\f002"
  .navbar
    +background-image(linear-gradient($color2, $color2))
    +border-radius(0)
    border-bottom: none
    border-top: 2px solid $color4
    .container
      margin-top: -2px
      padding: 0
      border-left: 1px solid $color3
      border-right: 1px solid $color3
    .navbar-collapse
      padding: 0
    .nav.categories
      li
        cursor: pointer
        position: relative
        padding-left: 10px
        padding-right: 10px
        border-right: 1px solid $color3
        font-weight: 500
        a
          color: $textColor
          text-transform: uppercase
          z-index: 2
        a:hover, a:active
          background-color: inherit
          text-decoration: none
        @for $i from 1 through length($linkColors)
          &.color#{$i}:after
            background: nth($linkColors, $i)
        &:after
          position: absolute
          width: 100%
          height: 2px
          left: 0
          top: 0
          content: ''
          transition: all 0.1s
        &:hover:after
          height: 100%
        &.active a
          color: $activeLink