@()(implicit messages: Messages, lang: Lang, env: Environment, request: RequestHeader)

    @layout.front(title = Some(messages("title.about"))){

        <div class="container">
            <div class="content-body generic">
                <h1>@messages("title.about")</h1>
                @en{
                    <p>Barracuda News is a news portal about sailing and for people who cannot live without it.</p>
                    <p>Barracuda News is a project of <a href="http://barracudacommunication.com" class="active-link">Barracuda Communication</a>, which was founded in 2015. During it’s one and a half year existence, <a href="http://barracudacommunication.com" class="active-link">Barracuda Communication</a> has covered over 30 projects all around the world in Italy, Monaco, Russia, France, Japan, Spain, and the United Arab Emirates among others. The idea of a sailing news website came up in summer of 2016 when our company became an official media partner of one of the major regattas in Europe, the Melges 20 World Championship. We wanted to create a source where people would find all the information they need about the sailing world.</p>
                    <p>We write about the most interesting, recent and inspiring news about regattas, sailors, and yachts. Almost all content on our website is unique: our photo, video, news, and interviews.</p>
                    <p>Only on Barracuda News you can find our unique <a href="@routes.FrontendController.tracking.withLang" class="active-link">3D tracking tool Regattascope</a>. With it you can both follow the races live as they are happening and replay the events.</p>
                    <p>We'd also like to point you towards our Fish Production, where you will find funny, awkward and otherwise hilarious stories about sailing!</p>
                    <p>Our team is dedicated to sailing and we truly love what we are doing. Sailing is not just our work, it is our life, so we believe that phrase “our job is the best job in the world” is about us!</p>
                }
                @ru{
                    <p>Barracuda News – новостной портал о парусном спорте и о людях, которые им живут.</p>
                    <p>Barracuda News - это проект компании <a href="http://barracudacommunication.com" class="active-link">Barracuda Communication</a>, которая была основана в 2015 году. За полтора года <a href="http://barracudacommunication.com" class="active-link">Barracuda Communication</a> реализовала более 30 проектов по всему миру – в Италии, Монако, России, Франции, Японии, Испании, ОАЭ. Идея создания Barracuda.news возникла летом 2016 года, когда мы стали официальным медиа-партнером одной из крупнейших регат - Чемпионата мира в классе Melges 20. Мы хотели сделать новости о парусном спорте легкодоступными для всех, кто в него влюблен.</p>
                    <p>Мы отбираем для наших читателей самую интересную и актуальную информацию о парусном спорте: регатах, яхтсменах, яхтах.</p>
                    <p>Практически весь контент нашего новостного портала – эксклюзивный. Это наши собственные фото/видео/новости/интервью.</p>
                    <p>Только у нас на сайте вы найдете <a href="@routes.FrontendController.tracking.withLang" class="active-link">3D-трекинг регат - Regattascope</a>, дающий возможность следить за гонками онлайн и посмотреть уже проведенные регаты.</p>
                    <p>Всё, что не уместилось в строгие новостные рамки видео-новостей, мы собираем в разделе Fish Production – любимом всеми яхтсменами.</p>
                    <p>Специалисты нашей команды преданы парусному спорту и по-настоящему любят свое дело. И поскольку парусный спорт для нас не столько работа, сколько любовь, каждый может подписаться под фразой «наша работа - самая лучшая в мире»!</p>
                }
            </div>
        </div>

    }
