@()(implicit messages: Messages, lang: LanguageValue, env: Environment, request: RequestHeader)

@layout.front(messages("title.advertising")) {

    <section class="container">
        <div class="content-body generic">
            <h1>@messages("title.advertising")</h1>
            <p>
                If you have any questions about advertising please email to this address: <a href="mailto:adv@@barracuda.news" class="active-link">adv@@barracuda.news</a>
            </p>
        </div>
    </section>

}