@import models.CoreModels.Article
@import controllers.refiners.LangInfo

@(article: Article)(implicit messages: Messages, langInfo: LangInfo)

@space.front("barracuda.news") {

    <article>
        <span class="close" ng-click="closeArticle()"></span>
        <section class="container">

            <div class="article-header">
                <h1>@article.translations.headOption.map(t => t.caption).orNull</h1>
                <div class="article-info">
                    <span class="source">
                    @article.origin.map(t => Html(s"""<a href="$t">$t</a>""")).getOrElse(Html("barracuda.news"))
                    </span>
                    <span class="date">@article.publishFormatted</span>
                </div>
            </div>
            <div class="article-body">
                @Html(article.translations.headOption.map(t => t.text).orNull)
                @article.origin.map { t =>
                    <blockquote class="source-quote">
                        <a href="@t" target="_blank">
                            <p>@article.translations.headOption.map(t => t.caption).orNull</p>
                            <cite class="source">@t</cite>
                        </a>
                    </blockquote>
                }

            </div>
            <div class="adv">
                <script type="text/javascript" src="https://www.gstatic.com/swiffy/v7.3/runtime.js"></script>
                <script src="@routes.Assets.versioned("/banners/bd_300x500.js")" type="text/javascript"></script>
                <div id="swiffycontainer" class="banner">
                    @*<img src="http://placehold.it/300x600">*@
                </div>
                <script type="text/javascript">
                        window.onload = function () {
                            var flashvars = "link1=http%3A%2F%2Fbedynamiq.com&target=_blank;"
                            var stage = new swiffy.Stage(document.getElementById('swiffycontainer'), swiffyobject);
                            stage.setFlashVars(flashvars);
                            stage.start();
                        };
                </script>
            </div>

        </section>
    </article>

}
