@import models.CoreModels.Article
@import models.CoreModels.Language.LanguageValue

@(article: Article)(implicit messages: Messages, lang: LanguageValue)

    @space.front("barracuda.news") {

        <article>
            <span class="close" ng-click="closeArticle()"></span>
            <section class="container">
                <div class="content-body">
                        <div class="article-header">
                            <h1>@article.translations.headOption.map(t => t.caption).orNull</h1>
                            <div class="article-info">
                                <span class="source">
                                @article.origin.map(t => Html(s"""<a href="$t">$t</a>""")).getOrElse(Html("barracuda.news"))
                                </span>
                                <span class="date">@article.publishFormatted</span>
                            </div>
                            @article.coverMedia.map { t =>
                                <div class="cover-image">
                                    <img src="@t" alt=""/>
                                </div>
                            }
                        </div>
                        <div class="article-body">
                            @Html(article.translations.headOption.map(t => t.text).orNull)
                            @article.origin.map { t =>
                                <blockquote class="source-quote">
                                    <a href="@t" target="_blank">
                                        <p>@article.translations.headOption.map(t => t.caption).orNull</p>
                                        <cite class="source">@t</cite>
                                    </a>
                                </blockquote>
                            }

                        </div>
                        <div class="adv">
                        @components.adv()
                        </div>
                </div>


            </section>
        </article>

    }
