@()(implicit messages: Messages, lang: LanguageValue)

@layout.front("barracuda.news") {

    <section class="container">
        <div class="content-body generic">
            <h1>Contacts</h1>

            <h3>Address:</h3>
            <p>
                Lacplesa iela 47-21, Riga, Latvia, LV-1011
            </p>

            <h3>Phone numbers:</h3>
            <p>
                Italy: +393270676764<br/>
                Russia: +79119088684<br/>
                Russia: +79219716525<br/>
            </p>

            <h3>emails:</h3>
            <p>
                <a href="mailto:editor@@barracuda.news" class="active-link">editor@@barracuda.news</a><br/>
                <a href="mailto:editor@@barracuda.news" class="active-link">contacts@@barracuda.news</a><br/>
            </p>

        </div>
    </section>

}
