@import components._
@import models.NewsModel._

@(layout: Layout, news: Map[String, Seq[PeaceOfNews]])

@main("barracuda.news") {

    <section class="news-grid">
        <section class="container">

        @for(row <- layout.rows) {
            <div class="topic-row @row.height.cssClass">
            @for(block <- row.blocks) {
                @if(block.tag) {
                    <div class="topic-col @block.size.cssClass @if(block.featured) {featured} type-@block.newsType.cssClass @if(block.caption.isEmpty) {no-caption}">
                        @for(caption <- block.caption) {
                            <h2>@caption</h2>
                        }
                        <div class="items">
                        @{
                            val newsToDisplay = block.newsType match {
                                case NewsType.TEXT => news.getOrElse(block.tag, Nil)
                                case _ => news.getOrElse(block.tag, Nil).headOption.toSeq
                            }
                            newsToDisplay.take(row.height.maxNews) match {
                                case head :: tail =>
                                    List(peaceOfNews(head, block.newsType, first = true)) ++ tail.map(t => peaceOfNews(t, block.newsType))
                                case _ =>
                                    <p>Empty topic</p>
                            }
                        }
                        </div>
                    </div>
                }
            }
            </div>
        }

        </section>
    </section>
}
