@(loginForm: Form[Option[Account]])(implicit flash: Flash, messages: Messages)

@import helper._

@space.main("Admin area") {

    <div class="app-wrapper">
        <main class="login-area">

        @helper.form(controllers.routes.AuthController.authenticate()) {

            <a class="logo" href="http://bedynamiq.com/" target="_blanc">
                <img src="@routes.Assets.versioned("images/logo-small.png")"/>
            </a>

            @if(loginForm.hasGlobalErrors) {
                @loginForm.globalError.map { e =>
                    <p class="error">
                        @e.message
                    </p>
                }
                </p>
            }
            <input type="text" name="login" id="login" placeholder="Login">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" id="sumbit" value="Login">

            }

        </main>
    </div>

}