@(loginForm: Form[Option[Account]])(implicit flash: Flash, messages: Messages, lang: Lang, env: Environment, request: RequestHeader)

@layout.main(title = Some("Admin area")){

    <div class="app-wrapper">
        <main class="login-area">

        @helper.form(controllers.routes.AuthController.authenticate()){

            <a class="logo" href="@routes.FrontendController.index()">
                <img src="@routes.Assets.versioned("images/logo-small.png")" srcset="@routes.Assets.versioned("/images/logo-small.2x.png") 2x"/>
            </a>

            @if(loginForm.hasGlobalErrors) {
                @loginForm.globalError.map{ e =>
                    <p class="error">
                        @e.message
                    </p>
                }
                </p>
            }
            <div class="control-container login">
                <input type="text" class="inp md" name="login" id="login" placeholder="Login">
            </div>
            <div class="control-container password">
                <input type="password" class="inp md" name="password" id="password" placeholder="Password">
            </div>
            <div class="control-container submit">
                <input type="submit" class="btn md" value="Login">
            </div>

        }

        </main>
    </div>

}