@import models.CoreModels.Language.LanguageValue
@import models.CoreModels.TrackingEvent
@import models.Implicits._

@(tracking: Seq[TrackingEvent])(implicit messages: Messages, lang: LanguageValue)

@space.front("barracuda.news") {

    <section class="misc">
        <section class="container">

            <div class="content-body">
                <h1>Barracuda tracking</h1>
                @for(event <- tracking.sortBy(t => t.eventStart.orNull)) {
                    <h2>@event.name</h2>
                    <p>@event.startFormatted - @event.endFormatted</p>
                    @*<img src="@event.baseUrl@event.imageUrl" alt="@event.name" title="@event.name">*@
                    @for(race <- event.races.getOrElse(Nil).sortBy(t => t.start)) {
                        <h5>@race.name</h5>
                        <p>@race.startFormatted - @race.endFormatted</p>
                    }
                }
            </div>
            <div class="adv">
            @components.adv()
            </div>

        </section>
    </section>

}
