@(tracking: Seq[TrackingEvent])(implicit messages: Messages, lang: LanguageValue, env: Environment, request: RequestHeader)

@showEvent(event: TrackingEvent, first: Boolean = false) = {
    <div class="event @if(event.isActive || first) {active} @if(first) {featured}">
        <div class="header">
            @if(!first) {
                <a ng-click="show['@event.id']=!show['@event.id']" class="show">
                    <span ng-hide="show['@event.id']">@Messages("tracking.show")</span>
                    <span ng-show="show['@event.id']">@Messages("tracking.hide")</span>
                </a>
            }
            <h2>@event.name</h2>
            <p class="date">@event.startFormatted &mdash; @event.endFormatted</p>
        </div>
        <div class="races ng-cloak" id="@event.id" ng-show="@first || show['@event.id']">
        @for(race@(time, races) <- event.races.getOrElse(Nil).groupBy(t => t.startTrimmed.orNull).toSeq.sortBy(t => t._1)) {
            <p class="date">@time.toString("YYYY/MM/dd")</p>
            @for(race <- races.sortBy(t => t.start.orNull)) {
                <div class="race">
                    <a href="http://sport2.interprocom.ru/@race.localUrl.orNull" class="replay" target="_blank">
                    @if(race.isActive) {
                        @Messages("tracking.transmit")
                    } else {
                        @Messages("tracking.replay")
                    }
                    </a>
                    @race.name
                </div>
            }

        }
        </div>
    </div>
}

@layout.front("barracuda.news") {

    <section class="tracking container">
        <class class="content-body">
            <h1>Barracuda tracking</h1>
            @{
                tracking.sortBy(t => t.startTrimmed.orNull) match {
                    case head :: tail =>
                        List(showEvent(head, first = true)) ++ tail.map(t => showEvent(t))
                    case _ => Html(s"<p>Not tracking events</p>")
                }
            }
        </class>
    </section>

}
